.loader {
  border: 10px solid #fc542f;
  border-top: 10px solid #f3f3f3;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactContainer {
  max-width: 900px;
  margin: 0 auto;
}

form {
  padding: 1.5rem;
}

button {
  width: 225px;
  height: 60px;
  background-color: #fc542f;
  color: #ffff;
}
input {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
}

label {
  display: block;
  margin: 1.6rem 0rem 1rem 0rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 1rem;
  margin: 3px 0px;
}

section p {
  color: #fc542f;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  flex: 0 0 90%;
}

header a {
  font-size: 1.8rem;
  padding-right: 2rem;
  color: #fc542f;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex: 90% 0 0;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}
